<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Covid-19 Tracker</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

   

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>
  <body>
    <style>
      body{
        text-align: center;
      }
      .total{
        color: red;
      }
      .active{
        color: blue;
      }
      .recovered{
        color: green;
      }
      .death{
        color: gray;
      }
     
      @media only screen and (max-width: 600px) {
 .btn {
   
   margin-bottom: 50px;
  }
} 
      
         
         
      
    </style>
    
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4" style="font-weight: bold;">Global Covid-19 Tracker</h1>
  <h2 class="display-6" style="font-weight: bold;">Search results for <%= country  %> </h2>
  
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal" style="color: red;">Total Cases</h4>
      </div>
      <div class="card-body" style="padding-bottom: 0px;">
        <h1 class="card-title pricing-card-title total"><%= total  %>  </h1>
        <svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet"><path fill="none" stroke="#ff073a99" stroke-width="2.5" d="M5,26.339575886493716C6.5,26.192498519769302,8,26.04542115304489,9.5,25.806988881822768C11,25.568556610600645,12.5,24.908982259160982,14,24.908982259160982C15.5,24.908982259160982,17,24.926481875397467,18.5,24.961481107870437C20,24.996480340343407,21.5,25.957577684699896,23,25.957577684699896C24.5,25.957577684699896,26,25.80906120479814,27.5,25.51202824499463C29,25.214995285191122,30.5,23.948575689129626,32,23.84311747549396C33.5,23.73765926185829,35,23.790388368676126,36.5,23.68493015504046C38,23.57947194140479,39.5,22.322723185895047,41,22.322723185895047C42.5,22.322723185895047,44,22.326177057520667,45.5,22.326177057520667C47,22.326177057520667,48.5,21.394322492927785,50,21.394322492927785C51.5,21.394322492927785,53.00000000000001,22.035361066643276,54.50000000000001,22.035361066643276C56.00000000000001,22.035361066643276,57.5,21.34401109624789,59,20.83410451525186C60.5,20.324197934255828,62,19.61500296046139,63.5,18.975921580667087C65,18.336840200872786,66.5,16.99961623648604,68,16.99961623648604C69.5,16.99961623648604,71,17.444474901866183,72.5,17.444474901866183C74,17.444474901866183,75.5,16.2804050349773,77,15.657441722769235C78.5,15.03447841056117,80,13.706695028617798,81.5,13.706695028617798C83,13.706695028617798,84.5,16.075360189469528,86,16.075360189469528C87.5,16.075360189469528,89,15.454929716453586,90.5,14.442369684875331C92,13.429809653297076,93.5,11.714904826648539,95,10" stroke-dasharray="95.7618179321289" stroke-dashoffset="0"></path><circle fill="#ff073a" r="2.5" cx="95" cy="10" style="opacity: 1;"></circle></svg>
        
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal" style="color: green;"> Recovered</h4>
      </div>
      <div class="card-body" style="padding-bottom: 0px;">
        <h1 class="card-title pricing-card-title recovered"><%= recovered  %> </h1>
        <svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet"><path fill="none" stroke="#28a74599" stroke-width="2.5" d="M5,21.736282352941174C6.5,24.49444705882353,8,27.252611764705883,9.5,27.252611764705883C11,27.252611764705883,12.5,27.144235294117646,14,26.927482352941176C15.5,26.710729411764706,17,25.857223529411762,18.5,25.857223529411762C20,25.857223529411762,21.5,26.36517647058823,23,26.36517647058823C24.5,26.36517647058823,26,25.552682352941176,27.5,24.862070588235294C29,24.171458823529413,30.5,22.22150588235294,32,22.22150588235294C33.5,22.22150588235294,35,22.320329411764703,36.5,22.320329411764703C38,22.320329411764703,39.5,21.449694117647056,41,21.449694117647056C42.5,21.449694117647056,44,21.55115294117647,45.5,21.754070588235294C47,21.95698823529412,48.5,23.176799999999997,50,23.516094117647057C51.5,23.855388235294118,53.00000000000001,24.02503529411765,54.50000000000001,24.02503529411765C56.00000000000001,24.02503529411765,57.5,20.77077647058823,59,20.77077647058823C60.5,20.77077647058823,62,21.09689411764706,63.5,21.09689411764706C65,21.09689411764706,66.5,18.902023529411764,68,18.902023529411764C69.5,18.902023529411764,71,24.12089411764706,72.5,24.12089411764706C74,24.12089411764706,75.5,18.194447058823535,77,18.194447058823535C78.5,18.194447058823535,80,19.037411764705883,81.5,19.037411764705883C83,19.037411764705883,84.5,18.28322352941176,86,17.48291764705882C87.5,16.68261176470588,89,15.482729411764703,90.5,14.235576470588233C92,12.988423529411763,93.5,11.49421176470588,95,10" stroke-dasharray="105.32861328125" stroke-dashoffset="0"></path><circle fill="#28a745" r="2.5" cx="95" cy="10" style="opacity: 1;"></circle></svg>
       
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal" style="color: grey;">Total Deaths</h4>
      </div>
      <div class="card-body" style="padding-bottom: 0px;">
        <h1 class="card-title pricing-card-title death"><%= death  %> </h1>
        <svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet"><path fill="none" stroke="#6c757d99" stroke-width="2.5" d="M5,30.962831858407082C6.5,30.584181415929205,8,30.205530973451328,9.5,29.12300884955752C11,28.040486725663715,12.5,24.46769911504425,14,24.46769911504425C15.5,24.46769911504425,17,29.7641592920354,18.5,29.7641592920354C20,29.7641592920354,21.5,28.426106194690274,23,28.31460176991151C24.5,28.203097345132743,26,28.235619469026545,27.5,28.14734513274336C29,28.059070796460176,30.5,27.78495575221239,32,27.78495575221239C33.5,27.78495575221239,35,28.14734513274336,36.5,28.14734513274336C38,28.14734513274336,39.5,27.29247787610619,41,27.00442477876106C42.5,26.71637168141593,44,26.419026548672566,45.5,26.419026548672566C47,26.419026548672566,48.5,27.645575221238936,50,27.645575221238936C51.5,27.645575221238936,53.00000000000001,26.813938053097345,54.50000000000001,26.419026548672566C56.00000000000001,26.024115044247786,57.5,25.615265486725658,59,25.27610619469026C60.5,24.93694690265486,62,24.839380530973447,63.5,24.384070796460172C65,23.928761061946897,66.5,22.544247787610615,68,22.544247787610615C69.5,22.544247787610615,71,22.581415929203537,72.5,22.655752212389384C74,22.73008849557523,75.5,26.363274336283183,77,26.363274336283183C78.5,26.363274336283183,80,22.683628318584073,81.5,22.683628318584073C83,22.683628318584073,84.5,24.8858407079646,86,24.8858407079646C87.5,24.8858407079646,89,24.188938053097345,90.5,22.79513274336283C92,21.401327433628317,93.5,15.700663716814159,95,10" stroke-dasharray="109.96418762207031" stroke-dashoffset="0"></path><circle fill="#6c757d" r="2.5" cx="95" cy="10" style="opacity: 1;"></circle></svg>
        
      </div>
      
    </div>
    <div class="card mb-3 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal" style="color: blue;">Active Cases</h4>
        </div>
        <div class="card-body" style="padding-bottom: 0px;">
          <h1 class="card-title pricing-card-title active"><%= active  %>   </h1>
          <svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet"><path fill="none" stroke="#007bff99" stroke-width="2.5" d="M5,38.560973435550004C6.5,33.17806204314495,8,27.795150650739888,9.5,26.791763237653775C11,25.788375824567662,12.5,25.286682118024604,14,25.286682118024604C15.5,25.286682118024604,17,26.520324478516667,18.5,27.132465680156887C20,27.744606881797107,21.5,28.38264396505616,23,28.95952932786593C24.5,29.5364146906757,26,30.261811374576578,27.5,30.59377785701551C29,30.925744339454443,30.5,31.09172758067391,32,31.09172758067391C33.5,31.09172758067391,35,30.799696915671237,36.5,30.45150650739882C38,30.1033160991264,39.5,29.416607238366904,41,29.002585131039396C42.5,28.588563023711888,44,28.657514708504184,45.5,27.967373863433764C47,27.277233018363344,48.5,22.01069709395614,50,22.01069709395614C51.5,22.01069709395614,53.00000000000001,22.297111784631838,54.50000000000001,22.86994116598324C56.00000000000001,23.442770547334636,57.5,25.86512747370298,59,25.86512747370298C60.5,25.86512747370298,62,20.973613834908186,63.5,20.258513103940096C65,19.543412372972007,66.5,19.90096273845605,68,19.185862007487962C69.5,18.470761276519873,71,10.501693706543055,72.5,10.501693706543055C74,10.501693706543055,75.5,16.641825637368516,77,16.641825637368516C78.5,16.641825637368516,80,10,81.5,10C83,10,84.5,17.97093956141914,86,19.213941879122835C87.5,20.45694419682653,89,21.078445355678376,90.5,21.078445355678376C92,21.078445355678376,93.5,19.503164556962027,95,17.927883758245677" stroke-dasharray="127.41162872314453" stroke-dashoffset="0"></path><circle fill="#007bff" r="2.5" cx="95" cy="17.927883758245677" style="opacity: 1;"></circle></svg>
          
        </div>
        
      </div>
  </div>

 
</div>
<form action="/home" method="POST">
<button type="submit"   class="btn btn-lg btn-primary">Back to Home Page</button>
</form>
</body>
</html>
